
html {
  
  background-color: black;
  text-align: center;

}

body {

  display: block;
  bottom: 90%;

}

h1 {

  color: white;
  font-family: "Lucida Console", "Courier New", monospace;

}

img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%; 

}

button {

  width: 20%;
  height: 15%;

  position: absolute;

  background-color: transparent;
  border: none;
  border-radius: 80px;

}

button:hover {

  background-color: white;
  opacity: 0.2;

}

.mercuryButton {

  top: 11%;
  left: 13%;

}

.venusButton {

  top: 11%;
  left: 40%;

}

.earthButton {

  top: 11%;
  left: 66%;

}

.marsButton {

  top: 31%;
  left: 13%;

}

.jupiterButton {

  top: 31%;
  left: 40%;

}

.saturnButton {

  top: 31%;
  left: 66%;

}

.uranusButton {

  top: 53%;
  left: 13%;

}

.neptuneButton {

  top: 53%;
  left: 40%;

}

.plutoButton {

  top: 53%;
  left: 66%;

}

.maroonAnimation {

  display: block;
  margin-left: auto;
  margin-right: auto;

  position: absolute;

  width: 20%;
  height: 15%;

  top: 11%;
  left: 40%;

  background-color: maroon;
  opacity: 0.5;

}

.redAnimation {

  display: block;
  margin-left: auto;
  margin-right: auto;

  position: absolute;

  width: 20%;
  height: 15%;

  top: 11%;
  left: 13%;

  background-color: red;
  opacity: 0.5;

}

.orangeAnimation {

  display: block;
  margin-left: auto;
  margin-right: auto;

  position: absolute;

  width: 20%;
  height: 15%;

  top: 11%;
  left: 66%;

  background-color: orange;
  opacity: 0.5;

}

.yellowAnimation {

  display: block;
  margin-left: auto;
  margin-right: auto;

  position: absolute;

  width: 20%;
  height: 15%;

  top: 31%;
  left: 13%;

  background-color: yellow;
  opacity: 0.5;

}

.greenAnimation {

  display: block;
  margin-left: auto;
  margin-right: auto;

  position: absolute;

  width: 20%;
  height: 15%;

  top: 31%;
  left: 40%;

  background-color: green;
  opacity: 0.5;

}

.lightblueAnimation {

  display: block;
  margin-left: auto;
  margin-right: auto;

  position: absolute;

  width: 20%;
  height: 15%;

  top: 31%;
  left: 66%;

  background-color: #1678f7;
  opacity: 0.5;

}

.blueAnimation {

  display: block;
  margin-left: auto;
  margin-right: auto;

  position: absolute;

  width: 20%;
  height: 15%;

  top: 53%;
  left: 13%;

  background-color: blue;
  opacity: 0.5;

}

.darkblueAnimation {

  display: block;
  margin-left: auto;
  margin-right: auto;

  position: absolute;

  width: 20%;
  height: 15%;

  top: 53%;
  left: 40%;

  background-color: darkblue;
  opacity: 0.5;

}

.purpleAnimation {

  display: block;
  margin-left: auto;
  margin-right: auto;

  position: absolute;

  width: 20%;
  height: 15%;

  top: 53%;
  left: 66%;

  background-color: purple;
  opacity: 0.5;

}



footer {

  margin: 150px;
  text-align: center;
  color: white;

}















